#Envido.hover, #RealEnvido.hover, #FaltaEnvido.hover, #IrAlMazo.hover, #Truco.hover,
#Quiero.hover, #NoQuiero.hover, #Reiniciar-left.hover,  
#opciones.hover, #Reiniciar-right.hover, #Salir.hover{
	border: 3px solid green;
}

#naipe-0.hover, #naipe-1.hover, #naipe-2.hover{
	position: absolute;
	bottom: 90px;
}
